// Defining a mixin
@mixin border-radius-low {
  border-radius: 0.4375rem;
}

@mixin border-radius-medium {
  border-radius: 0.9375rem;
}

@mixin border-radius-high {
  border-radius: 1.25rem;
}

@mixin pros-cons__head {
  display: inline-flex;
  height: 2.9375rem;
  width: 100%;
  padding: 0.3125rem 1.26188rem;
  align-items: center;
}

@mixin pros-cons__h5 {
  display: flex;
  width: 100%;
  height: 2.3125rem;
  padding: 1.5rem 0rem;
  align-items: center;
  border-bottom: 1px solid #c2c5cd;
}

@mixin button-hover-effect {
  transition: box-shadow 0.3s ease-in-out;

  &:hover,
  &:focus {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    // Customize the box-shadow effect as needed
  }

  &:active {
    transform: translateY(2px);
    // Add any other active state effect properties here
  }
}



@mixin shop-now__btn {
  @include border-radius-low;
  background: $yellow;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 15.9375rem;
  height: 2.5625rem;
  padding: 0.625rem 4.625rem;
  margin-top: 25px;
  color: $text-white;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 7px;
  @include button-hover-effect
  
}


.text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}




// styles.scss
$purple: #aa236d;
$light-red: #fe614c;
$light-gray: #eaebef;
$dark-purple: #3f1263;
$magenta: #f21368;
$yellow: #ffb400;
$green: #dffcd1;
$pink: #fcd1d1;
$light-pink: #bd9dff;
$text-white: #ffffff;

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body, .container, .sorting, .product {
  position: relative;
  z-index: -1;
}

/* Your existing styles */

body.dark-mode input:checked + .fav {
  color: black !important;

  > svg path {
    fill: black !important;
  }
}

body.dark-mode .product .product-pros {
  background: #287105;
}

body.dark-mode .product .product-cons {
  background: #a30404;
}

/* Add your dark mode styles here */
body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

/* Continue with your regular styles */


.navigation {
  position: relative;
  z-index: 1000000000000000000000 !important;
}

.navigation .container {
  // min-height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
  // background: #c988f8;
  transition: background 0.4s ease;
  position: fixed;
  bottom: 2%;
  right: 0%;
  left: 0%;
}

.navigation .bottom-nav.rounded-border {
  border-radius: 0rem 0rem 1.25rem 1.25rem !important;
  -webkit-border-radius: 0rem 0rem 1.25rem 1.25rem !important;
  -moz-border-radius: 0rem 0rem 1.25rem 1.25rem !important;
  -ms-border-radius: 0rem 0rem 1.25rem 1.25rem !important;
  -o-border-radius: 0rem 0rem 1.25rem 1.25rem !important;
}

.navigation .bottom-nav {
  background: #fff;
  width: 100%;
  height: 4.5rem;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  box-shadow: 0 0.4rem 1rem 0 rgba(55, 55, 55, 0.2);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
  // backdrop-filter: blur(10px); /* Adjust the value for the desired blur amount */
  // background: rgba(255, 255, 255, 0.5);

  // dropdown

  


  
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      backdrop-filter: blur(10px); /* Adjust the value for the desired blur amount */
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.2);
      z-index: 1;
      width: 94%;
      bottom: 99%;
      z-index: -1;
      @include border-radius-high;
      border-bottom-right-radius: 0%;
      border-bottom-left-radius: 0%;
      


  
      a {
        padding: 12px 16px;
        display: block;
        text-decoration: none;
        color: #333;
  
        &:hover {
          background-color: #f1f1f1;
        }
      }
    
  }






  input {
    display: none;
  }

  label {
    cursor: pointer;
    width: 5rem;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #b5c4da;
    z-index: 200;
    position: relative;

    &::before {
      content: "";
      position: absolute;
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
      transform: scale(0);
      transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
      z-index: -1;
    }
  }


  

  nav-icon {
    font-size: 3.5rem;
    color: inherit;
    z-index: 10;
  }

  input:checked + .home {
    color: $pink;

    > ion-icon:first-child {
      opacity: 0;
    }
    &::before {
      background: #ffdfea;
      transform: scale(1);
    }
  }

  input:checked + .cart {
    //   color: $pink;
    > ion-icon:first-child {
      opacity: 0;
    }
    &::before {
      background: $pink;
      transform: scale(1);
    }
  }

  input:checked + .fav {
    //   color: $pink;
    > ion-icon:first-child {
      opacity: 0;
    }
    &::before {
      background: $pink;
      transform: scale(1);
    }
  }

  input:checked + .profile {
    > ion-icon:first-child {
      opacity: 0;
    }
    &::before {
      background: $pink;
      transform: scale(1);
    }
  }

  input:checked + label .fill {
    transform: scale(1);
    opacity: 1;
  }
}

.top-text {
  button {
    @include border-radius-low;
    background: #fe614c;
    border: 0;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
  }
}

.hero {
  height: 250px;

  img{
    width: 90%; 
    height: 176px;

  }
  .header-part {
    width: 90%;
    height: 10.3125rem;
    flex-shrink: 0;
    border-radius: 5rem 0rem 1.25rem 1.25rem;
    background: #aa236d;
    position: absolute;
    top: 109px;
    z-index: -1;

    

    h1 {
      color: #fff;
      font-family: Inter;
      font-size: 1.575rem;
      font-style: normal;
      font-weight: 700;
      line-height: 2.71875rem; /* 145% */
      text-transform: capitalize;
      top: 43%;
      position: absolute;
      padding: 0 20px;
      // left: 5%;
    }
  }
}

.sorting {
  padding: 40px 0;

  button {
    @include border-radius-medium;
    @include button-hover-effect;
    background: $light-gray;
    border: 0;
    padding: 10px 20px;
    font-weight: 500;

    &:focus {
      @include border-radius-medium;
      background: $magenta;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      color: $text-white;
    }
  }

  .top-product {
    background-color: $magenta;
    @include border-radius-medium;
    border: 0;
    width: 100%;
    height: 9.625rem;
    margin: 1.5rem 0;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    position: relative;
    z-index: -10;

    .left-pic {
      position: relative;
      bottom: 25px;
      left: 5%;
    }

    .right-text {
      padding-top: 25px;

      span {
        font-size: 0.9375rem;
        color: $text-white;
      }

      strong.break {
        content: "\A"; 
        white-space: pre; 
      }



      h2 {

        color: $text-white;
        font-weight: 800;
      }
      .stars {
        font-size: 18px;
        color: #ffe800;
      }

      .top-product-but {
        color: $text-white;
        @include border-radius-high;
        background-color: $dark-purple;
        border: 0;
        position: absolute;
        top: 8px;
        right: 8px;
      }
    }
  }

  .researcher {
    span {
      font-family: Proxima Nova;
      font-size: 0.875rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.875rem;
    }
    h5 {

      font-size: 1rem;
      font-style: normal;
      font-weight: 400;
      line-height: 1.75rem; /* 175% */
      letter-spacing: 0.03125rem;
    }
  }
}

.product {
  .product-show {
    @include border-radius-medium;
    background: linear-gradient(
      180deg,
      #aa236d 0%,
      rgba(231, 219, 206, 0),
      rgba(231, 219, 206, 0) 100%
    );
    height: 430px;

    h3 {
      color: $text-white;
    }

    .product-btn {
      @include shop-now__btn;
      @include button-hover-effect
    }
  }
  .prduct-text {
    background: linear-gradient(180deg, #fff 0%, rgba(231, 219, 206, 0) 100%);
  }

  .product-pros {
    width: 100%;
    min-height: 300px;
    border-radius: 1.0625rem;
    background: #dffcd1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .pros__head {
      @include pros-cons__head();
    }

    h5 {
      @include pros-cons__h5();
    }

    .pros__body {
      width: 100%;
      // height: 100%;

      .pros__bullet {
        padding: 0.5rem 1.3rem;
      }

      .pros__bullet svg,
      .pros__bullet p {
        display: inline;
      }
    }
  }

  .product-cons {
    width: 100%;
    // height: 300px;
    border-radius: 1.0625rem;
    background: #fcd1d1;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);

    .cons__head {
      @include pros-cons__head;
    }

    h5 {
      @include pros-cons__h5;
    }

    .cons__body {
      width: 100%;
      // height: 100%;

      .cons__bullet {
        padding: 0.5rem 1.3rem;
      }

      .cons__bullet svg,
      .cons__bullet p {
        display: inline;
      }
    }
  }

  .shop-btn {
    @include shop-now__btn;
    position: relative;
    z-index: -1;


  }

  .product-info {
    width: 100%;

    display: flex;
    align-items: center;
    top: 30px;
    z-index: -1;

    .product-info__wrapper {
      position: relative;
      width: 100%;
      height: 100%;
      @include border-radius-medium;
      box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
      // background-color: $text-white;
      z-index: -1;

      /* ------------------------------Detailed Info --------------------------------- */
      .rating-info {
        display: inline-block;
        margin-left: 20px;

      }


      .star-review-1 {
        display: inline-block;

        border-bottom: 2px solid rgb(175 175 175);
        width: 90%;
        padding-bottom: 8px;
        margin-left: 20px;

          .num-people {
            color: #717373; /* Change the color */
          font-style: italic; /* Italicize the text */
          font-size: 12px; /* Adjust the font size */
          padding-left: 5px;
          }

        
      }

      
      
      .rating-box {
        display: inline-block;


        .rating-container {
          direction: rtl !important;
          label {
            display: inline-block;
            color: #d4d4d4;
            cursor: pointer;
            font-size: 30px;
            transition: color 0.2s;
          }
          input {
            display: none;
          }
          label:hover, label:hover ~ label, input:checked ~ label  {
            color: #ffb400;
          }
        }
      }

      .progressbar-warp {
        padding: 0px 25px;
        max-width: 767px;
        margin-bottom: 10px;
        padding-right: 15px;
        padding-bottom: 0px;

        .skills {
          border: 0.5px solid #bbbfbf;
          background: #f0f2f2;
          width: 100%;
          height: 20px;
          position: relative;
          margin: 7px 0px;
          border-radius: 0.125rem 0rem 0rem 0.125rem;

          .title-bar {
            position: absolute;
            top: -2px;
            padding-left: 5px;
            text-transform: capitalize;

            h5 {
              font-size: 0.75rem;
              line-height: 1.8;
              color: $text-white;
            }
          }

          .skillbar {
            background-color: $light-red;
            width: 0px;
            height: 19px;
            border-radius: 0.125rem 0rem 0rem 0.125rem;
          }
        }
      }

      .form-wrapper {
        margin-bottom: 0;
        padding: 5px 36px 0px 0px;
        max-width: 767px;
        margin-bottom: 15px;
        // padding-right: 36px;
        margin-bottom: 0;

        form input,
        form textarea {
          border: 0.5px solid #bbbfbf;
          background: #f0f2f2;
          border-radius: 0.125rem 0rem 0rem 0.125rem;

          width: 100%;
          margin-bottom: 10px;
        }

        form textarea {
          height: 89px;
        }

        input::placeholder,
        textarea::placeholder {
          color: #bbbfbf; /* Change the color */
          font-style: italic; /* Italicize the text */
          font-size: 12px; /* Adjust the font size */
          /* Add other styling properties as needed */
          padding-left: 5px;
        }
      }

      .btn-send {
        border-radius: 0.1375rem;
        background: #ffb400;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 83%;
        height: 2.5625rem;
        padding: 0.625rem 4.625rem;
        margin-top: 0px;
        color: #ffffff;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 7px;
        @include button-hover-effect
      }

      .review-wrapper {
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        flex-shrink: 0;
        padding: 20px;

        .reviewer-name {
          svg {
            width: 5.5rem;
            height: 3.5rem;
            padding: 0 10px;
          }
          .review-name__text {
            // color: #000;
            text-align: center;
            font-family: Proxima Nova;
            font-size: 1.275rem;
            font-style: normal;
            font-weight: 400;
            line-height: 2.125rem; /* 242.857% */
          }
        }

        .star-review {
          svg {
            width: 1.3rem;
          }
          .rating {
            padding-top: 5px;
            font-size: 18px;
            padding-left: 10px;
          }
        }

        blockquote {
          color: #6c706e;
          text-align: left;
          font-family: Proxima Nova;
          font-size: 0.8875rem;
          font-style: normal;
          font-weight: 400;
          line-height: 1.125rem; /* 309.091% */
        }

        .reviewer-comment {
          text-align: justify;
        }
      }
      .btn-readmore {
        border-radius: 0.1375rem;
        background: $magenta;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        width: 88%;
        height: 2.5625rem;
        padding: 0.625rem 4.625rem;
        margin-top: 0px;
        color: #ffffff;
        font-size: 1.25rem;
        font-style: normal;
        font-weight: 400;
        text-transform: uppercase;
        line-height: 7px;
        @include button-hover-effect
      }
    }
  }

  
}


// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .hero {
    img {
      width: 67%;
      height: 249px;
  }

  .header-part {
    width: 84%;
    height: 11.3125rem;
    top: 190px;
  }

  }

  .sorting {
    top: 100px;

    button {
      border-radius: 0.9375rem;
      transition: box-shadow 0.3s ease-in-out;
      background: #eaebef;
      border: 0;
      padding: 10px 67px;
      font-weight: 500;
    }
  }

  .sorting .top-product {
    margin-top: 2.5rem;
  }

  .top-product {

    h2 {
      font-size: 30px;
    }
    span {
      font-size: 1.2rem !important;
    }

    .left-pic {

      left: 31% !important;
    }

    
    
  }
  .rating-box {
    display: block !important;
    padding-right: 8% !important;
  }

}




body {
  height: 700vh;
}
