// Defining a mixin
@mixin border-radius-low {
    border-radius: 0.4375rem;
  }

@mixin border-radius-medium {
    border-radius: 0.9375rem;
}

@mixin border-radius-high {
    border-radius: 1.25rem;
}

@mixin pros-cons__head {
    display: inline-flex;
    height: 2.9375rem;
    width: 100%;
    padding: 0.3125rem 1.26188rem;
    align-items: center;
}

@mixin pros-cons__h5 {
    display: flex;
    width: 100%;
    height: 2.3125rem;
    padding: 1.5rem 0rem;
    align-items: center;
    border-bottom: 1px solid #C2C5CD;

}

    
 

  
  // styles.scss
$purple: #AA236D;
$light-red: #FE614C;
$light-gray: #EAEBEF;
$dark-purple: #3F1263;
$magenta: #F21368;
$yellow: #FFB400;
$green: #DFFCD1;
$pink:#FCD1D1;
$light-pink: #BD9DFF;
$text-white: #ffffff;



html,
body {
    width: 100vw;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden !important;
    scroll-behavior: smooth;
}

.navigation {
    z-index: 1000000000000000000000 !important;
}


.navigation .container {
    // min-height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    // background: #c988f8;
    transition: background .4s ease;
    position: fixed;
    bottom: 2%;
    right: 0%;
    left: 0%;
  }
  
  .navigation .bottom-nav {
      background: #fff;
      width: 95%;
      height: 5rem;
      border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
      box-shadow: 0 .4rem 1rem 0 rgba(55, 55, 55, .2);
      padding: 1rem;
      display: flex;
      justify-content: space-around;
      align-items: center;
      z-index: 1;
      
      
  
      input { display: none; }
  
      label {
          cursor: pointer;
          width: 5rem;
          height: 3rem;
          display: flex;
          justify-content: center;
          align-items: center;
          color: #b5c4da;
          z-index: 200;
          position: relative;
  
          &::before  {
              content: '';
              position: absolute;
              width: 4rem;
              height: 4rem;
              border-radius: 50%;
              transform: scale(0);
              transition: all .2s cubic-bezier(0.645, 0.045, 0.355, 1);
              z-index: -1;
          }
      }
  
      nav-icon {
          font-size: 3.5rem;
          color: inherit;
          z-index: 10;
      }
  
      input:checked + .home {
          color: $pink;
        
          > ion-icon:first-child {opacity: 0;}
          &::before{ 
              background: #ffdfea;
              transform: scale(1);
          }
      }
  
      input:checked + .cart {
        //   color: $pink;
        > ion-icon:first-child {opacity: 0;}
          &::before{ background: $pink;
              transform: scale(1);
          }
      }
  
      input:checked + .fav {
        //   color: $pink;
        > ion-icon:first-child {opacity: 0;}
          &::before{ background: $pink;
              transform: scale(1);
          }
      }
  
      input:checked + .profile {
        //   color: #ffc460;
        > ion-icon:first-child {opacity: 0;}
          &::before{ background: $pink;
              transform: scale(1);
          }
      }
  
      input:checked + label .fill {
          transform: scale(1);
          opacity: 1;
      }
    }


.top-text {
    button {
        @include border-radius-low;
        background: #FE614C;
        border: 0;
        color: #FFF;
        text-align: center;
        // font-family: Proxima Nova;
        text-transform: uppercase;
        font-weight: 500;

}


}


.hero {
    height: 250px;
    .header-part {
        width: 90%;
        height: 10.3125rem;
        flex-shrink: 0;
        border-radius: 5rem 0rem 1.25rem 1.25rem;
        background: #AA236D;
        position: absolute;
        top: 109px;
        // right: 12px;
        z-index: -1;

        h1 {
            color: #FFF;
            font-family: Inter;
            font-size: 1.575rem;
            font-style: normal;
            font-weight: 700;
            line-height: 2.71875rem; /* 145% */
            text-transform: capitalize;
            top: 43%;
            position: absolute;
            padding: 0 20px;
            // left: 5%;
        }
    }
}

.sorting {
    padding: 40px 0;
    
    button {
        @include border-radius-medium;
        background: $light-gray;
        border: 0;
        padding: 10px 20px;
        font-weight: 500;

        &:focus {
            @include border-radius-medium;
            background: $magenta;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            color: $text-white;
        }
    }

    .top-product {
        background-color: $magenta;
        @include border-radius-medium;
        border: 0;
        width: 100%;
        height: 9.625rem;
        margin: 1.5rem 0;
        box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
        position: relative;
        z-index: -10;


        .left-pic {
            position: relative;
            bottom: 25px;
            left: 5%;

        }

        .right-text {
            padding-top: 25px;


            span {
                font-size: 0.9375rem;
                color: $text-white;
            }

            h2 {
                // word-spacing: 5vw;
                color: $text-white;
                font-weight: 800;
            }
            .stars {
                font-size: 18px;
                color: #ffe800;
            }

            .top-product-but {
                color: $text-white;
                @include border-radius-high;
                background-color: $dark-purple;
                border: 0;
                position: absolute;
                top: 8px;
                right: 8px;
            }
        }

    }


    .researcher {

        span {
            font-family: Proxima Nova;
            font-size: 0.875rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.875rem;
        }
        h5 {
            color: #000;
            // font-family: Proxima Nova;
            font-size: 1rem;
            font-style: normal;
            font-weight: 400;
            line-height: 1.75rem; /* 175% */
            letter-spacing: 0.03125rem;
        }
    }

}

.product {
    .product-show {
        @include border-radius-medium;
        background: linear-gradient(180deg, #AA236D 0%, rgba(231, 219, 206, 0.00), rgba(231, 219, 206, 0.00)  100%);
        height: 430px;

        h3 {
            color: $text-white;
        }

        .product-btn {
            @include border-radius-low;
            background: $yellow;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
            width: 15.9375rem;
            height: 2.5625rem;
            padding: 0.625rem 4.625rem;
            margin-top: 25px;
            color: $text-white;
            font-size: 1.25rem;
            font-style: normal;
            font-weight: 400;
            text-transform: uppercase;
            line-height: 7px;
            
        } 

    }
    .prduct-text {
        background: linear-gradient(180deg, #FFF 0%, rgba(231, 219, 206, 0.00) 100%);
        }

        .product-pros {
            width: 100%;
            min-height: 300px;
            border-radius: 1.0625rem;
            background: #DFFCD1;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);


            .pros__head{
                @include pros-cons__head()
            }
            
            h5 {
                @include pros-cons__h5()
            }

            .pros__body {
                width: 100%;
                height: 100%;

                .pros__bullet {
                    padding: 0.5rem 1.3rem;
                }

                .pros__bullet svg, .pros__bullet p{
                    display: inline;
                    

                }


            }
            


        }

        .product-cons {
            
            width: 100%;
            height: 300px;
            border-radius: 1.0625rem;
            background: #FCD1D1;
            box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); 
            
            .cons__head{
                @include pros-cons__head
            }
            
            h5 {
                @include pros-cons__h5
            }

            .cons__body {
                width: 100%;
                height: 100%;

                .cons__bullet {
                    padding: 0.5rem 1.3rem;
                }

                .cons__bullet svg, .cons__bullet p{
                    display: inline;
                    

                }


            }
        }



}


body {
    height: 300vh;
}