.text {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
}

html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

body, .container, .sorting, .product {
  position: relative;
  z-index: -1;
}

/* Your existing styles */
body.dark-mode input:checked + .fav {
  color: black !important;
}
body.dark-mode input:checked + .fav > svg path {
  fill: black !important;
}

body.dark-mode .product .product-pros {
  background: #287105;
}

body.dark-mode .product .product-cons {
  background: #a30404;
}

/* Add your dark mode styles here */
body.dark-mode {
  background-color: #1a1a1a;
  color: #ffffff;
}

/* Continue with your regular styles */
.navigation {
  position: relative;
  z-index: 1000000000000000000000 !important;
}

.navigation .container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s ease;
  position: fixed;
  bottom: 2%;
  right: 0%;
  left: 0%;
}

.navigation .bottom-nav.rounded-border {
  border-radius: 0rem 0rem 1.25rem 1.25rem !important;
  -webkit-border-radius: 0rem 0rem 1.25rem 1.25rem !important;
  -moz-border-radius: 0rem 0rem 1.25rem 1.25rem !important;
  -ms-border-radius: 0rem 0rem 1.25rem 1.25rem !important;
  -o-border-radius: 0rem 0rem 1.25rem 1.25rem !important;
}

.navigation .bottom-nav {
  background: #fff;
  width: 100%;
  height: 4.5rem;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  box-shadow: 0 0.4rem 1rem 0 rgba(55, 55, 55, 0.2);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.navigation .bottom-nav .dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  backdrop-filter: blur(10px); /* Adjust the value for the desired blur amount */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0 -1px 6px rgba(0, 0, 0, 0.2);
  z-index: 1;
  width: 94%;
  bottom: 99%;
  z-index: -1;
  border-radius: 1.25rem;
  border-bottom-right-radius: 0%;
  border-bottom-left-radius: 0%;
}
.navigation .bottom-nav .dropdown-content a {
  padding: 12px 16px;
  display: block;
  text-decoration: none;
  color: #333;
}
.navigation .bottom-nav .dropdown-content a:hover {
  background-color: #f1f1f1;
}
.navigation .bottom-nav input {
  display: none;
}
.navigation .bottom-nav label {
  cursor: pointer;
  width: 5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b5c4da;
  z-index: 200;
  position: relative;
}
.navigation .bottom-nav label::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}
.navigation .bottom-nav nav-icon {
  font-size: 3.5rem;
  color: inherit;
  z-index: 10;
}
.navigation .bottom-nav input:checked + .home {
  color: #fcd1d1;
}
.navigation .bottom-nav input:checked + .home > ion-icon:first-child {
  opacity: 0;
}
.navigation .bottom-nav input:checked + .home::before {
  background: #ffdfea;
  transform: scale(1);
}
.navigation .bottom-nav input:checked + .cart > ion-icon:first-child {
  opacity: 0;
}
.navigation .bottom-nav input:checked + .cart::before {
  background: #fcd1d1;
  transform: scale(1);
}
.navigation .bottom-nav input:checked + .fav > ion-icon:first-child {
  opacity: 0;
}
.navigation .bottom-nav input:checked + .fav::before {
  background: #fcd1d1;
  transform: scale(1);
}
.navigation .bottom-nav input:checked + .profile > ion-icon:first-child {
  opacity: 0;
}
.navigation .bottom-nav input:checked + .profile::before {
  background: #fcd1d1;
  transform: scale(1);
}
.navigation .bottom-nav input:checked + label .fill {
  transform: scale(1);
  opacity: 1;
}

.top-text button {
  border-radius: 0.4375rem;
  background: #fe614c;
  border: 0;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.hero {
  height: 250px;
}
.hero .header-part {
  width: 90%;
  height: 10.3125rem;
  flex-shrink: 0;
  border-radius: 5rem 0rem 1.25rem 1.25rem;
  background: #aa236d;
  position: absolute;
  top: 109px;
  z-index: -1;
}
.hero .header-part h1 {
  color: #fff;
  font-family: Inter;
  font-size: 1.575rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.71875rem; /* 145% */
  text-transform: capitalize;
  top: 43%;
  position: absolute;
  padding: 0 20px;
}

.sorting {
  padding: 40px 0;
}
.sorting button {
  border-radius: 0.9375rem;
  transition: box-shadow 0.3s ease-in-out;
  background: #eaebef;
  border: 0;
  padding: 10px 20px;
  font-weight: 500;
}
.sorting button:hover, .sorting button:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.sorting button:active {
  transform: translateY(2px);
}
.sorting button:focus {
  border-radius: 0.9375rem;
  background: #f21368;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.sorting .top-product {
  background-color: #f21368;
  border-radius: 0.9375rem;
  border: 0;
  width: 100%;
  height: 9.625rem;
  margin: 1.5rem 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: -10;
}
.sorting .top-product .left-pic {
  position: relative;
  bottom: 25px;
  left: 5%;
}
.sorting .top-product .right-text {
  padding-top: 25px;
}
.sorting .top-product .right-text span {
  font-size: 0.9375rem;
  color: #ffffff;
}
.sorting .top-product .right-text h2 {
  color: #ffffff;
  font-weight: 800;
}
.sorting .top-product .right-text .stars {
  font-size: 18px;
  color: #ffe800;
}
.sorting .top-product .right-text .top-product-but {
  color: #ffffff;
  border-radius: 1.25rem;
  background-color: #3f1263;
  border: 0;
  position: absolute;
  top: 8px;
  right: 8px;
}
.sorting .researcher span {
  font-family: Proxima Nova;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}
.sorting .researcher h5 {
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: 0.03125rem;
}

.product .product-show {
  border-radius: 0.9375rem;
  background: linear-gradient(180deg, #aa236d 0%, rgba(231, 219, 206, 0), rgba(231, 219, 206, 0) 100%);
  height: 430px;
}
.product .product-show h3 {
  color: #ffffff;
}
.product .product-show .product-btn {
  border-radius: 0.4375rem;
  background: #ffb400;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 15.9375rem;
  height: 2.5625rem;
  padding: 0.625rem 4.625rem;
  margin-top: 25px;
  color: #ffffff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 7px;
  transition: box-shadow 0.3s ease-in-out;
  transition: box-shadow 0.3s ease-in-out;
}
.product .product-show .product-btn:hover, .product .product-show .product-btn:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product .product-show .product-btn:active {
  transform: translateY(2px);
}
.product .product-show .product-btn:hover, .product .product-show .product-btn:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product .product-show .product-btn:active {
  transform: translateY(2px);
}
.product .prduct-text {
  background: linear-gradient(180deg, #fff 0%, rgba(231, 219, 206, 0) 100%);
}
.product .product-pros {
  width: 100%;
  min-height: 300px;
  border-radius: 1.0625rem;
  background: #dffcd1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.product .product-pros .pros__head {
  display: inline-flex;
  height: 2.9375rem;
  width: 100%;
  padding: 0.3125rem 1.26188rem;
  align-items: center;
}
.product .product-pros h5 {
  display: flex;
  width: 100%;
  height: 2.3125rem;
  padding: 1.5rem 0rem;
  align-items: center;
  border-bottom: 1px solid #c2c5cd;
}
.product .product-pros .pros__body {
  width: 100%;
}
.product .product-pros .pros__body .pros__bullet {
  padding: 0.5rem 1.3rem;
}
.product .product-pros .pros__body .pros__bullet svg,
.product .product-pros .pros__body .pros__bullet p {
  display: inline;
}
.product .product-cons {
  width: 100%;
  border-radius: 1.0625rem;
  background: #fcd1d1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.product .product-cons .cons__head {
  display: inline-flex;
  height: 2.9375rem;
  width: 100%;
  padding: 0.3125rem 1.26188rem;
  align-items: center;
}
.product .product-cons h5 {
  display: flex;
  width: 100%;
  height: 2.3125rem;
  padding: 1.5rem 0rem;
  align-items: center;
  border-bottom: 1px solid #c2c5cd;
}
.product .product-cons .cons__body {
  width: 100%;
}
.product .product-cons .cons__body .cons__bullet {
  padding: 0.5rem 1.3rem;
}
.product .product-cons .cons__body .cons__bullet svg,
.product .product-cons .cons__body .cons__bullet p {
  display: inline;
}
.product .shop-btn {
  border-radius: 0.4375rem;
  background: #ffb400;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 15.9375rem;
  height: 2.5625rem;
  padding: 0.625rem 4.625rem;
  margin-top: 25px;
  color: #ffffff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 7px;
  transition: box-shadow 0.3s ease-in-out;
  position: relative;
  z-index: -1;
}
.product .shop-btn:hover, .product .shop-btn:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product .shop-btn:active {
  transform: translateY(2px);
}
.product .product-info {
  width: 100%;
  display: flex;
  align-items: center;
  top: 30px;
  z-index: -1;
}
.product .product-info .product-info__wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 0.9375rem;
  box-shadow: 0px 0px 3px 2px rgba(0, 0, 0, 0.25);
  z-index: -1;
  /* ------------------------------Detailed Info --------------------------------- */
}
.product .product-info .product-info__wrapper .rating-info {
  display: inline-block;
  margin-left: 20px;
}
.product .product-info .product-info__wrapper .star-review-1 {
  display: inline-block;
  border-bottom: 2px solid rgb(175, 175, 175);
  width: 90%;
  padding-bottom: 8px;
  margin-left: 20px;
}
.product .product-info .product-info__wrapper .star-review-1 .num-people {
  color: #717373; /* Change the color */
  font-style: italic; /* Italicize the text */
  font-size: 12px; /* Adjust the font size */
  padding-left: 5px;
}
.product .product-info .product-info__wrapper .rating-box {
  display: inline-block;
}
.product .product-info .product-info__wrapper .rating-box .rating-container {
  direction: rtl !important;
}
.product .product-info .product-info__wrapper .rating-box .rating-container label {
  display: inline-block;
  color: #d4d4d4;
  cursor: pointer;
  font-size: 30px;
  transition: color 0.2s;
}
.product .product-info .product-info__wrapper .rating-box .rating-container input {
  display: none;
}
.product .product-info .product-info__wrapper .rating-box .rating-container label:hover, .product .product-info .product-info__wrapper .rating-box .rating-container label:hover ~ label, .product .product-info .product-info__wrapper .rating-box .rating-container input:checked ~ label {
  color: #ffb400;
}
.product .product-info .product-info__wrapper .progressbar-warp {
  padding: 0px 25px;
  max-width: 767px;
  margin-bottom: 10px;
  padding-right: 15px;
  padding-bottom: 0px;
}
.product .product-info .product-info__wrapper .progressbar-warp .skills {
  border: 0.5px solid #bbbfbf;
  background: #f0f2f2;
  width: 100%;
  height: 20px;
  position: relative;
  margin: 7px 0px;
  border-radius: 0.125rem 0rem 0rem 0.125rem;
}
.product .product-info .product-info__wrapper .progressbar-warp .skills .title-bar {
  position: absolute;
  top: -2px;
  padding-left: 5px;
  text-transform: capitalize;
}
.product .product-info .product-info__wrapper .progressbar-warp .skills .title-bar h5 {
  font-size: 0.75rem;
  line-height: 1.8;
  color: #ffffff;
}
.product .product-info .product-info__wrapper .progressbar-warp .skills .skillbar {
  background-color: #fe614c;
  width: 0px;
  height: 19px;
  border-radius: 0.125rem 0rem 0rem 0.125rem;
}
.product .product-info .product-info__wrapper .form-wrapper {
  margin-bottom: 0;
  padding: 5px 36px 0px 0px;
  max-width: 767px;
  margin-bottom: 15px;
  margin-bottom: 0;
}
.product .product-info .product-info__wrapper .form-wrapper form input,
.product .product-info .product-info__wrapper .form-wrapper form textarea {
  border: 0.5px solid #bbbfbf;
  background: #f0f2f2;
  border-radius: 0.125rem 0rem 0rem 0.125rem;
  width: 100%;
  margin-bottom: 10px;
}
.product .product-info .product-info__wrapper .form-wrapper form textarea {
  height: 89px;
}
.product .product-info .product-info__wrapper .form-wrapper input::placeholder,
.product .product-info .product-info__wrapper .form-wrapper textarea::placeholder {
  color: #bbbfbf; /* Change the color */
  font-style: italic; /* Italicize the text */
  font-size: 12px; /* Adjust the font size */
  /* Add other styling properties as needed */
  padding-left: 5px;
}
.product .product-info .product-info__wrapper .btn-send {
  border-radius: 0.1375rem;
  background: #ffb400;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 83%;
  height: 2.5625rem;
  padding: 0.625rem 4.625rem;
  margin-top: 0px;
  color: #ffffff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 7px;
  transition: box-shadow 0.3s ease-in-out;
}
.product .product-info .product-info__wrapper .btn-send:hover, .product .product-info .product-info__wrapper .btn-send:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product .product-info .product-info__wrapper .btn-send:active {
  transform: translateY(2px);
}
.product .product-info .product-info__wrapper .review-wrapper {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  flex-shrink: 0;
  padding: 20px;
}
.product .product-info .product-info__wrapper .review-wrapper .reviewer-name svg {
  width: 5.5rem;
  height: 3.5rem;
  padding: 0 10px;
}
.product .product-info .product-info__wrapper .review-wrapper .reviewer-name .review-name__text {
  text-align: center;
  font-family: Proxima Nova;
  font-size: 1.275rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2.125rem; /* 242.857% */
}
.product .product-info .product-info__wrapper .review-wrapper .star-review svg {
  width: 1.3rem;
}
.product .product-info .product-info__wrapper .review-wrapper .star-review .rating {
  padding-top: 5px;
  font-size: 18px;
  padding-left: 10px;
}
.product .product-info .product-info__wrapper .review-wrapper blockquote {
  color: #6c706e;
  text-align: left;
  font-family: Proxima Nova;
  font-size: 0.8875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.125rem; /* 309.091% */
}
.product .product-info .product-info__wrapper .review-wrapper .reviewer-comment {
  text-align: justify;
}
.product .product-info .product-info__wrapper .btn-readmore {
  border-radius: 0.1375rem;
  background: #f21368;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 88%;
  height: 2.5625rem;
  padding: 0.625rem 4.625rem;
  margin-top: 0px;
  color: #ffffff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
  line-height: 7px;
  transition: box-shadow 0.3s ease-in-out;
}
.product .product-info .product-info__wrapper .btn-readmore:hover, .product .product-info .product-info__wrapper .btn-readmore:focus {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.product .product-info .product-info__wrapper .btn-readmore:active {
  transform: translateY(2px);
}

body {
  height: 700vh;
}

/*# sourceMappingURL=style.css.map */
