html,
body {
  width: 100vw;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  overflow-x: hidden !important;
  scroll-behavior: smooth;
}

.navigation {
  z-index: 1000000000000000000000 !important;
}

.navigation .container {
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background 0.4s ease;
  position: fixed;
  bottom: 2%;
  right: 0%;
  left: 0%;
}

.navigation .bottom-nav {
  background: #fff;
  width: 95%;
  height: 5rem;
  border-radius: 1.25rem 1.25rem 1.25rem 1.25rem;
  box-shadow: 0 0.4rem 1rem 0 rgba(55, 55, 55, 0.2);
  padding: 1rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  z-index: 1;
}
.navigation .bottom-nav input {
  display: none;
}
.navigation .bottom-nav label {
  cursor: pointer;
  width: 5rem;
  height: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b5c4da;
  z-index: 200;
  position: relative;
}
.navigation .bottom-nav label::before {
  content: "";
  position: absolute;
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  transform: scale(0);
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
  z-index: -1;
}
.navigation .bottom-nav nav-icon {
  font-size: 3.5rem;
  color: inherit;
  z-index: 10;
}
.navigation .bottom-nav input:checked + .home {
  color: #FCD1D1;
}
.navigation .bottom-nav input:checked + .home > ion-icon:first-child {
  opacity: 0;
}
.navigation .bottom-nav input:checked + .home::before {
  background: #ffdfea;
  transform: scale(1);
}
.navigation .bottom-nav input:checked + .cart > ion-icon:first-child {
  opacity: 0;
}
.navigation .bottom-nav input:checked + .cart::before {
  background: #FCD1D1;
  transform: scale(1);
}
.navigation .bottom-nav input:checked + .fav > ion-icon:first-child {
  opacity: 0;
}
.navigation .bottom-nav input:checked + .fav::before {
  background: #FCD1D1;
  transform: scale(1);
}
.navigation .bottom-nav input:checked + .profile > ion-icon:first-child {
  opacity: 0;
}
.navigation .bottom-nav input:checked + .profile::before {
  background: #FCD1D1;
  transform: scale(1);
}
.navigation .bottom-nav input:checked + label .fill {
  transform: scale(1);
  opacity: 1;
}

.top-text button {
  border-radius: 0.4375rem;
  background: #FE614C;
  border: 0;
  color: #FFF;
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}

.hero {
  height: 250px;
}
.hero .header-part {
  width: 90%;
  height: 10.3125rem;
  flex-shrink: 0;
  border-radius: 5rem 0rem 1.25rem 1.25rem;
  background: #AA236D;
  position: absolute;
  top: 109px;
  z-index: -1;
}
.hero .header-part h1 {
  color: #FFF;
  font-family: Inter;
  font-size: 1.575rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.71875rem; /* 145% */
  text-transform: capitalize;
  top: 43%;
  position: absolute;
  padding: 0 20px;
}

.sorting {
  padding: 40px 0;
}
.sorting button {
  border-radius: 0.9375rem;
  background: #EAEBEF;
  border: 0;
  padding: 10px 20px;
  font-weight: 500;
}
.sorting button:focus {
  border-radius: 0.9375rem;
  background: #F21368;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.sorting .top-product {
  background-color: #F21368;
  border-radius: 0.9375rem;
  border: 0;
  width: 100%;
  height: 9.625rem;
  margin: 1.5rem 0;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  position: relative;
  z-index: -10;
}
.sorting .top-product .left-pic {
  position: relative;
  bottom: 25px;
  left: 5%;
}
.sorting .top-product .right-text {
  padding-top: 25px;
}
.sorting .top-product .right-text span {
  font-size: 0.9375rem;
  color: #ffffff;
}
.sorting .top-product .right-text h2 {
  color: #ffffff;
  font-weight: 800;
}
.sorting .top-product .right-text .stars {
  font-size: 18px;
  color: #ffe800;
}
.sorting .top-product .right-text .top-product-but {
  color: #ffffff;
  border-radius: 1.25rem;
  background-color: #3F1263;
  border: 0;
  position: absolute;
  top: 8px;
  right: 8px;
}
.sorting .researcher span {
  font-family: Proxima Nova;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.875rem;
}
.sorting .researcher h5 {
  color: #000;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.75rem; /* 175% */
  letter-spacing: 0.03125rem;
}

.product .product-show {
  border-radius: 0.9375rem;
  background: linear-gradient(180deg, #AA236D 0%, rgba(231, 219, 206, 0), rgba(231, 219, 206, 0) 100%);
  height: 430px;
}
.product .product-show h3 {
  color: #ffffff;
}
.product .product-show .product-btn {
  border-radius: 0.4375rem;
  background: #FFB400;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  width: 15.9375rem;
  height: 2.5625rem;
  padding: 0.625rem 4.625rem;
  margin-top: 25px;
  color: #ffffff;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  text-transform: uppercase;
}
.product .prduct-text {
  background: linear-gradient(180deg, #FFF 0%, rgba(231, 219, 206, 0) 100%);
}
.product .product-pros {
  width: 100%;
  height: 300px;
  border-radius: 1.0625rem;
  background: #DFFCD1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}
.product .product-cons {
  width: 100%;
  height: 300px;
  border-radius: 1.0625rem;
  background: #FCD1D1;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

body {
  height: 300vh;
}

/*# sourceMappingURL=style.css.map */
